<html>
<head>
	<title>Squatch Sighter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/info/info.css" type="text/css">
</head>
<body>
	<div id="content">
		<div id="innerContent">
			<a id="backLink" href="/"><img id="backBtn" src="/info/back.png" /></a>
			<h1 id="title"><%= @sighting.title %></h1>

			<table id="metaTable">
				<tr>
					<td class="label">Name/Alias:</td>
					<td><%= @sighting.name %></td>
				</tr>

				<tr>
					<td class="label">Contact Info:</td>
					<td><%= @sighting.contact_info %></td>
				</tr>

				<tr>
					<td class="label">Date Sighted:</td>
					<td><%= @sighting.date %></td>
				</tr>

				<tr>
					<td class="label">Date Recorded:</td>
					<td><%= @sighting.record_date %></td>
				</tr>

				<tr>
					<td class="label">Latitude:</td>
					<td><%= @sighting.latitude %></td>
				</tr>

				<tr>
					<td class="label">Longitude:</td>
					<td><%= @sighting.longitude %></td>
				</tr>
			</table>
			
			<br>
			
			<div id="description">
				<p>
					<% if @sighting.description.include?("\n") %>
						<%= @sighting.description.gsub!("\n", "</p><p>") %>
					<% else %>
						<%= @sighting.description %>
					<% end %>
				</p>
			</div>

			<br>

			<h3>Images: </h3>
			<div id="images">
				<% @images.each do |img| %>
					<img class="img" src="<%= img %>" />
				<% end %>
			</div>

			<div id="comments">
				<h3>Comments: </h3>
				<% @sighting.comments_dataset.each do |com| %>
					<div class="comment">
						<h4 class="commenter"><%= com.name %>:</h4>
						<br>
						<p>
							<% if com.text.include?("\n") %>
								<%= com.text.gsub!("\n", "</p><p>") %>
							<% else %>
								<%= com.text %>
							<% end %>
						</p>
					</div>
				<% end %>
			</div>

			<div id="addComment">
				<form id="addCommentForm" method="post">
					<table>
						<tr>
							<td><label>Name/Alias:</label></td>
							<td><input type="text" name="name" placeholder="Name/Alias"/></td>
						</tr>

						<tr>
							<td><label>Comment:</label></td>
							<td><textarea id="commentBox" name="text" placeholder="Type your comment here..."></textarea></td>
						</tr>

						<tr>
							<td></td>
							<td><input type="button" value="Post Comment" id="postBtn" /></td>
						</tr>

					</table>
				</form>
			</div>

		</div>
	</div>

    <script type="application/dart" src="/info/info.dart"></script>
    <script src="/packages/browser/dart.js"></script>
</body>
</html>